html {
  background: #000000;
}

.heading {
  font-family: Arial;
  font-weight: bold;
  font-size: 25px;
  text-align: center;
  margin-top: 50px;
  color: #FF6600;
}

.heading2 {
  font-family: Arial;
  font-weight: bold;
  font-size: 12.5px;
  text-align: center;
  margin-top: 50px;
  color: #FF6600;
}

.games {
  clear: right;
  text-align: center;
}

.button {
  background-color: #FF6600;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  font-family: Arial;
}

.button:hover {
  opacity: 1;
  border-radius: 12px;
}

.end {
  background: #FF6600;
  font-family: Arial;
  font-size: 15px;
  text-align: center;
  color: #000000;
}

.banner {
  clear: both;
  text-align: center;
  margin-top: 150px;
}

#icon {
  text-align: center;
}

h4 {
  font-size: 15px;
}

h3 {
  font-size: 12.5;
}

.top-banner {
  display: inline-block;
  background: #FF6600;
  padding: 14px;
  height: 70px;
  font-family: Arial;
  width: 100%;
  margin-right: 5px;
}

.top-banner img span {
  top: 10px;
}
.centered {
  position: absolute;
  top: 50px;
  left: 17%;
  transform: translate(-50%, -50%);
}

.info p {
  font-size: 16px;
  font-family: Arial;
  color: lightgrey;
  text-align: left;
}

.info h4 {
  text-align: left;
}

.banner-button {
  background-color: #CF5300;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.8;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  font-family: Arial;
}

.banner-button:hover {
  opacity: 1;
  border-radius: 12px;
}
