/* This is the background of the website. */

html {
  background: #212121;
  overflow-x: hidden;
  max-width: 100%;
}

/* Start of Text Appearence */

.heading {
  font-family: Arial;
  font-weight: bold;
  font-size: 25px;
  text-align: center;
  margin-top: 50px;
  color: #FF6600;
}

.ULTRA_heading {
  font-family: Arial;
  font-weight: bold;
  font-size: 25px;
  text-align: center;
  margin-top: 50px;
  color: #FF6600;
}

.heading2 {
  font-family: Arial;
  font-weight: bold;
  font-size: 12.5px;
  text-align: center;
  margin-top: 50px;
  color: #FF6600;
}

.games {
  clear: right;
  text-align: center;
}

h4 {
  font-size: 15px;
}

h3 {
  font-size: 20px;
}

/* End of Text Appearence */

/* Start of CSS Button Design */

.button {
  background-color: #FF6600;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.5s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  font-family: Arial;
}

.button:hover {
  opacity: 1;
  border-radius: 12px;
}

.banner-button {
  background-color: #CF5300;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.8;
  transition: 0.5s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  font-family: Arial;
}

.banner-button:hover {
  opacity: 1;
  border-radius: 12px;
}

.end_button {
  background-color: #ff9a33;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px auto;
  /* This will center the button horizontally */
  opacity: 0.6;
  transition: 0.5s;
  display: block;
  /* Change to block to take full width and center */
  text-decoration: none;
  cursor: pointer;
  font-family: Arial;
}

.end_button:hover {
  opacity: 1;
  border-radius: 12px;
}

a {
  text-decoration: none;
}

/* End of CSS Button Design */

/* Start of Footer */

.end {
  background: #121212;
  font-family: Arial;
  font-size: 15px;
  text-align: center;
  color: #fe890b;
}

.banner {
  clear: both;
  text-align: center;
  margin-top: 100px;

}

.banner img {
  border-radius: 50px;
}

/* End of Footer */

/* Start of Header */

.top-banner {
  display: inline-block;
  background: #121212;
  padding: 14px;
  height: 70px;
  font-family: Arial;
  width: 100%;
  margin-right: 5px;
}

.top-banner img span {
  top: 10px;
}

/* End of Header */

.centered {
  position: absolute;
  top: 50px;
  left: 17%;
  transform: translate(-50%, -50%);
}

.info p {
  font-size: 16px;
  font-family: Arial;
  color: lightgrey;
  text-align: left;
}

.info h4 {
  text-align: left;
}

span {
  font-family: Arial;
  color: #fe890b;
  font-size: 25px;
  text-align: left;
}

.heading img {
  width: 300px;
  height: 300px;
  transition: 0.5s;
  border-radius: 12px;
}

.heading img:hover {
  width: 250px;
  height: 250px;
  border-radius: 12px;
}

.batt_heading img {
  width: 1020px;
  height: 262px;
  transition: 0.5s;
  border-radius: 12px;
}

.batt_heading img:hover {
  width: 510px;
  height: 131px;
  border-radius: 12px;
}

.fore_heading img {
  width: 1020px;
  height: 262px;
  transition: 0.5s;
  border-radius: 12px;
}

.fore_heading img:hover {
  width: 510px;
  height: 131px;
  border-radius: 12px;
}

.un_heading img {
  width: 1020px;
  height: 262px;
  transition: 0.5s;
  border-radius: 12px;
}

.un_heading img:hover {
  width: 510px;
  height: 131px;
  border-radius: 12px;
}

.rdr_heading img {
  width: 510px;
  height: 262px;
  transition: 0.5s;
  border-radius: 12px;
}

.rdr_heading img:hover {
  width: 455px;
  height: 161px;
  border-radius: 12px;
}


.ULTRA_heading img {
  width: 1200px;
  height: 200px;
  transition: 0.5s;
  border-radius: 12px;
}

.ULTRA_heading img:hover {
  width: 650px;
  height: 100px;
  border-radius: 12px;
}

.witch_heading img {
  width: 600px;
  height: 200px;
  transition: 0.5s;
  border-radius: 12px;
}

.witch_heading img:hover {
  width: 490px;
  height: 160px;
  border-radius: 12px;
}

iframe {
  border-radius: 50px;
  border: 0.5em solid #1f1f1f;
}

.info {
  font-family: Arial;
  font-weight: bold;
  font-size: 25px;
  text-align: center;
  margin-top: 50px;
  color: #FF6600;
}

.leg {
  text-align: left
}




/* Custom Scroll Bar Code Package */

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px black;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #CF5300;
  border-radius: 10px;
  opacity: 0.6;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  opacity: 1;
  background: #FF6600;
}

.rotate {
  animation: rotation 2.5s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}

/*#807C7C*/

.spoiler {
  display: inline-block;
  background-color: #242424;
  color: transparent;
  user-select: none;
  font-family: "Marcellus SC", 'fallback', Helvetica, Arial, sans-serif;
  transition: 2.5s;
  border-radius: 25px;
}

.spoiler li {
  border-radius: 25px;
}

.spoiler:hover {
  background-color: inherit;
  color: inherit;
}


.la {
  text-align: center;
}

.yella {
  animation: colorchange 1.5s infinite alternate;
}

@keyframes colorchange {
  0% {
    color: #FF6600;
  }

  100% {
    color: #ffc800;
  }
}

.blu {
  animation: colorchange 1.5s infinite alternate;
}

@keyframes colorchange {
  0% {
    color: #007bff;
  }

  100% {
    color: #ffc800;
  }
}

/* Mouse Ripple Effect */

.ripple {
  width: 0;
  height: 0;
  background-color: transparent;
  position: fixed;
  border-radius: 50%;
  border: 1px solid #CF5300;
}

@keyframes ripple-effect {
  to {
    width: 150px;
    height: 150px;
    margin: -60px;
    opacity: 0.01;
  }
}

/* Drag Prevention */

.no-select {
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

/* Search Bar */

.search {
  position: relative;
  width: 60px;
  height: 60px;
  background: #fff;
  border-radius: 60px;
  transition: 0.5s;
  box-shadow: 0 0 0 5px #fe7920;
  overflow: hidden;
}
.search.active {
  width: 360px;
}
.search .icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  background: #fff;
  border-radius: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  cursor: pointer;
}

.search .icon::before {
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  border: 3px solid #FF6600;
  border-radius: 50%;
  transform: translate(-4px,-4px);
}

.search .icon::after {
  content: '';
  position: absolute;
  width: 3px;
  height: 12px;
  background: #FF6600;
  border-radius: 50%;
  transform: translate(6px,6px) rotate(315deg);
}

.search .input {
  position: relative;
  width: 300px;
  height: 60px;
  left: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search .input input {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 18px;
  padding: 10px 0;
  line-height: 500px;
  padding-top: -10px;
}

.clear {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 15px;
  height: 15px;
  right: 15px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clear::before {
  position: absolute;
  content: '';
  width: 1px;
  height: 15px;
  background: #999;
  transform: rotate(45deg);
}

.clear::after {
  position: absolute;
  content: '';
  width: 1px;
  height: 15px;
  background: #999;
  transform: rotate(315deg);
}

/* Move the search input placeholder text up vertically */
.search .input input::placeholder {
  padding-top: 5px;
  transform: translateY(-50%);/* Adjust the padding value to move the text up */
}
/* Move the search input field up vertically */
.search .input {
  padding-top: 10px;/* Adjust the padding value to move the input field up */
}
