/* This is the background of the website. */

html {
  background: #212121;
  overflow-x: hidden;
  max-width: 100%;
}

/* Start of Text Appearence */

.heading {
  font-family: Arial;
  font-weight: bold;
  font-size: 25px;
  text-align: center;
  margin-top: 50px;
  color: #FF6600;
}

.heading2 {
  font-family: Arial;
  font-weight: bold;
  font-size: 12.5px;
  text-align: center;
  margin-top: 50px;
  color: #FF6600;
}

.games {
  clear: right;
  text-align: center;
}

h4 {
  font-size: 15px;
}

h3 {
  font-size: 20px;
}

/* End of Text Appearence */

/* Start of CSS Button Design */

.button {
  background-color: #FF6600;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.5s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  font-family: Arial;
}

.button:hover {
  opacity: 1;
  border-radius: 12px;
}

.banner-button {
  background-color: #CF5300;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.8;
  transition: 0.5s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  font-family: Arial;
}

.banner-button:hover {
  opacity: 1;
  border-radius: 12px;
}

a {
  text-decoration: none;
}

/* End of CSS Button Design */

/* Start of Footer */

.end {
  background: #121212;
  font-family: Arial;
  font-size: 15px;
  text-align: center;
  color: #fe890b;
}

.banner {
  clear: both;
  text-align: center;
  margin-top: 100px;
}

/* End of Footer */

/* Start of Header */

.top-banner {
  display: inline-block;
  background: #121212;
  padding: 14px;
  height: 70px;
  font-family: Arial;
  width: 100%;
  margin-right: 5px;
}

.top-banner img span {
  top: 10px;
}

/* End of Header */

.centered {
  position: absolute;
  top: 50px;
  left: 17%;
  transform: translate(-50%, -50%);
}

.info p {
  font-size: 16px;
  font-family: Arial;
  color: lightgrey;
  text-align: left;
}

.info h4 {
  text-align: left;
}

span {
  font-family: Arial;
  color: #fe890b;
  font-size: 25px;
  text-align: left;
}

.heading img {
  width: 300px;
  height: 300px;
  transition: 0.5s;
  border-radius: 12px;
}

.heading img:hover {
  width: 250px;
  height: 250px;
  border-radius: 12px;
}

iframe {
  border-radius: 50px;
  border: 0.5em solid #1f1f1f;
}

.info {
  font-family: Arial;
  font-weight: bold;
  font-size: 25px;
  text-align: center;
  margin-top: 50px;
  color: #FF6600;
}




/* Custom Scroll Bar Code Package */

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px black;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #CF5300;
  border-radius: 10px;
  opacity: 0.6;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  opacity: 1;
  background: #FF6600;
}

.rotate {
  animation: rotation 2.5s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}

/*#807C7C*/

.spoiler {
  display: inline-block;
  background-color: #242424;
  color: transparent;
  user-select: none;
  font-family: "Marcellus SC", 'fallback', Helvetica, Arial, sans-serif;
  transition: 2.5s;
  border-radius: 25px;
}

.spoiler li {
  border-radius: 25px;
}

.spoiler:hover {
  background-color: inherit;
  color: inherit;
}


.la {
  text-align: center;
}

.yella {
  animation: colorchange 1.5s infinite alternate;
}

@keyframes colorchange {
  0% {
    color: #FF6600;
  }

  100% {
    color: #ffc800;
  }
}